extends layout

block content

    // Page Content


    .col-lg-12
       h1.my-4 Kolorowe PasteLOVE
       h6 Internetowy sklep

    .col-lg-12
       #carouselExampleIndicators.carousel.slide.my-4(data-ride='carousel')
           ol.carousel-indicators
               li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
               li(data-target='#carouselExampleIndicators', data-slide-to='1')
               li(data-target='#carouselExampleIndicators', data-slide-to='2')
           .carousel-inner(role='listbox')
               .carousel-item.active
                   img.d-block.img-fluid(src='/images/1.png', alt='First slide')
               .carousel-item
                   img.d-block.img-fluid(src='/images/3.png', alt='Second slide')
               .carousel-item
                   img.d-block.img-fluid(src='/images/2.png', alt='Third slide')
           a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
               span.carousel-control-prev-icon(aria-hidden='true')
               span.sr-only Previous
           a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
               span.carousel-control-next-icon(aria-hidden='true')
               span.sr-only Next


       h1 #{title}
       br

       .row.row-cols-1.row-cols-md-3
            each article, i in articles
                .col.mb-4
                    .card
                        img.card-img-top.image-responsive(src='data:image/png;base64,' +article.imagePath+'', alt='...')
                        .card-body
                            h5=article.title
                            .price=article.price+" PLN"
                            p=article.body

                            form(action='/cart/cart'+article.id+'', method='POST')
                                input(hidden='', value=article.id, name='articleId')
                                a.btn.btn-outline-dark(href='cart/cart/'+article.id+'', type='button', class='mx-2')
                                    i.fa.fa-shopping-cart
                                    |  Add to cart

