extends layout


block content
    h1 #{title}
    br

    .row
        each article, i in articles
            .col-sm-12.col-md-12.col-md-offset-1.col-sm-offset-1
                ul.list-group

                    li.list-group-item.d-flex.justify-content-between.align-items-center
                        strong #{article.item.title} &nbsp;
                        span.badge.badge-success $#{article.item.price} &nbsp;
                        span.badge.badge-pill.badge-secondary  #{article.qty}
                        .btn-group
                            button.btn.btn-danger(type='button')
                                i.far.fa-times-circle(aria-hidden='true')
            ul.list-group
               li.list-group-item.d-flex.justify-content-between.align-items-center
                   p=article.title
                   p=article.price
            br
    .row
        .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
            strong Total: $#{totalPrice}
    hr
    .row
        .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
            button.btn.btn-success(type='button') Checkout
    //.row
    //    .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
    //        h2 No items in cart


